@model Opportunity
@{
    ViewBag.Title = "Edit Volunteer Records";
    Layout = "_AdminLayout";
}
<center>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="OpportunityID" />
        <div class="form-group row-cols-sm-2">
            <label asp-for="JobTitle">Job Title</label>
            <div><span asp-validation-for="JobTitle" class="text-danger"></span></div>
            <input asp-for="JobTitle" class="form-control" />
        </div>
        <div class="form-group row-cols-sm-2">
            <label asp-for="Description">Job Description</label>
            <div><span asp-validation-for="Description" class="text-danger"></span></div>
<textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group row-cols-sm-2">
            <label asp-for="VolunteerCenter">Volunteer Center</label>
            <div><span asp-validation-for="VolunteerCenter" class="text-danger"></span></div>
            <input asp-for="VolunteerCenter" class="form-control" />
        </div>
        <div class="form-group row-cols-sm-2">
            <label asp-for="Keyword">Keyword</label>
            <div><span asp-validation-for="Keyword" class="text-danger"></span></div>
            <input asp-for="Keyword" class="form-control" />
        </div>
        @*
             <div class="form-group row-cols-sm-2">
            <label asp-for="OppDate">Date of Volunteer Opportunity (mm/dd/yyyy)</label>
            <input type="date" asp-for="OppDate" class="form-control" value="2020-01-01"/>
        </div>
        *@
        <div class="form-group row-cols-sm-2">
            <button class="btn btn-info" type="submit">Save</button>
            <a asp-action="Index" class="btn btn-danger">Cancel</a>
        </div>

    </form>
</center>