@model Volunteer
@{
    ViewBag.Title = "Edit Volunteer";
    Layout = "_AdminLayout";
}
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="VolunteerID" />
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactEmail"></label>
            <input asp-for="EmergencyContactEmail" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactFirstName"></label>
            <input asp-for="EmergencyContactFirstName" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EmergencyContactLastName"></label>
            <input asp-for="EmergencyContactLastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactPhoneNumber"></label>
            <input asp-for="EmergencyContactPhoneNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="EmergencyStreetAddress"></label>
            <input asp-for="EmergencyStreetAddress" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="EmergencyZipCode"></label>
            <input asp-for="EmergencyZipCode" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="EmergencyCity"></label>
            <input asp-for="EmergencyCity" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="EmergencyState"></label>
            <input asp-for="EmergencyState" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="VolunteerCenter"></label>
            <input asp-for="VolunteerCenter" class="form-control" />
        </div>


        <div class="form-group">
            <label asp-for="Skills"></label>
            <input asp-for="Skills" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Interests"></label>
            <input asp-for="Interests" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ZipCode"></label>
            <input asp-for="ZipCode" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="StreetAddress"></label>
            <input asp-for="StreetAddress" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control" />
        </div>


        <div class="form-group">
            <label asp-for="Driverslicense"></label>
            <input asp-for="Driverslicense" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SSN"></label>
            <input asp-for="SSN" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AvailabilityTimes"></label>
            <input asp-for="AvailabilityTimes" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Education"></label>
            <input asp-for="Education" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Licenses"></label>
            <input asp-for="Licenses" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ApprovalStatus"></label>
            <input asp-for="ApprovalStatus" class="form-control" />
        </div>


        <div class="text-center">

            <button class="btn btn-primary" type="submit">Save</button>
            <a asp-action="Index" class="btn btn-default">Cancel</a>
        </div>
    </form>