<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>Admin Home Page</title>
</head>
<body>
    <nav class="navbar navbar-inverse bg-info">
        <a class="navbar-brand text-white" href="#">Volunteer Management System</a>
    </nav>

    <div class="container">

        @RenderBody()
    </div>
    <p style="text-align:center;"><img src="http://laurelsprings.com/wp-content/uploads/2017/04/Volunteer.jpg" alt="Volunteers" width="1000"
             height="600"></p>
</body>
</html>
