@model Volunteer

<!--Drop Down Menu. As of 8.5.2020 it is just for aesthetic-->
<div class="container">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
         Filter by Approval Status
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="#!">All</a>
            <a class="dropdown-item" href="#!">Approved/Pending</a>
            <a class="dropdown-item" href="#!">Approved</a>
            <a class="dropdown-item" href="#!">Pending Approval</a>
            <a class="dropdown-item" href="#!">Disapproved</a>
            <a class="dropdown-item" href="#!">Inactive</a>
        </div>
    </div>
</div>



<div class="card m-3 rounded">
    <div class="card-block m-2">
        <h3>
            <strong>@Model.FirstName @Model.LastName</strong>
            <span class="float-right bg-success text-white rounded m-2 p-1">
                @Model.ApprovalStatus
            </span>
        </h3>
        <span class="lead">@Model.PhoneNumber</span>
    </div>
</div>