@model VolunteersListViewModels
<!--Drop Down Menu. As of 8.5.2020 it is just for aesthetic-->
<!--THIS FILE IS WHERE THE MANAGE OPPORTUNIES PAGE WILL BE LINKED-->

    <div class="row align-items-center">
        <div class="col-6">
            <div class="card card-block">
                <a asp-controller="Admin" asp-action="Index" button type="button" class="btn btn-info btn-lg">Manage Volunteers</a>
            </div>
        </div>
        <div class="col-6">
            <div class="card card-inverse card-danger">
                <a asp-controller="Admin" asp-action="Index" button type="button" class="btn btn-info btn-lg">Manage Opportunities</a>
            </div>
        </div>
    </div>



<!--

    <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-default"
         page-class-selected="btn-primary" class="btn-group float-right">
    </div>
-->
